<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.domi04151309.home"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme27"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".hue.HueSceneActivity"
            android:label="@string/hue_add_scene"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.domi04151309.home.MainActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".Preferences">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.domi04151309.home.Preferences" />
        </activity>
        <activity
            android:name=".SearchDevicesActivity"
            android:label="@string/pref_add"
            android:parentActivityName=".DevicesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.domi04151309.home.DevicesActivity" />
        </activity>
        <activity
            android:name=".hue.HueConnectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".hue.HueLampActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.domi04151309.home.MainActivity" />
        </activity>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Preferences"
            android:label="@string/pref"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.domi04151309.home.MainActivity" />
        </activity>
        <activity
            android:name=".WebActivity"
            android:label="@string/webView"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.domi04151309.home.MainActivity" />
        </activity>
        <activity
            android:name=".DevicesActivity"
            android:label="@string/pref"
            android:parentActivityName=".Preferences">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.domi04151309.home.Preferences" />
        </activity>
        <activity
            android:name=".EditDeviceActivity"
            android:label="@string/pref_add"
            android:parentActivityName=".DevicesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.domi04151309.home.DevicesActivity" />
        </activity>
    </application>

</manifest>