<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.domi04151309.home"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />

    <queries>
        <package android:name="com.philips.lighting.hue2" />
    </queries>

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDark"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.HueSceneActivity"
            android:label="@string/hue_add_scene"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/about"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.SettingsActivity" />
        <activity
            android:name=".activities.ContributorActivity"
            android:label="@string/about_contributors"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.AboutActivity" />
        <activity
            android:name=".activities.LibraryActivity"
            android:label="@string/about_libraries"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.AboutActivity" />
        <activity
            android:name=".activities.SearchDevicesActivity"
            android:label="@string/pref_add"
            android:parentActivityName=".activities.DevicesActivity" />
        <activity
            android:name=".activities.HueConnectActivity"
            android:theme="@style/AppThemeDark.NoActionBar" />
        <activity
            android:name=".activities.HueLampActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/AppThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppThemeDark.NoActionBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/pref"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.WebActivity"
            android:label="@string/webView"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.DevicesActivity"
            android:label="@string/pref"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.SettingsActivity" />
        <activity
            android:name=".activities.EditDeviceActivity"
            android:label="@string/pref_add"
            android:parentActivityName=".activities.DevicesActivity" />
    </application>

</manifest>